In [79]:
import requests
import pandas as pd

In [80]:
def consulta_bc(codigo_ipca):   #para o mentor: vc pode me explicar o list comprehension da 4º linha?
    url = 'http://api.bcb.gov.br/dados/serie/bcdata.sgs.{}/dados?formato=json'.format(codigo_ipca)
    df = pd.read_json(url)
    df['data'] = pd.to_datetime(df['data'], dayfirst=True)
    df.set_index('data',inplace=True)
    return df

In [81]:
consulta_bc(433)

            valor
data
1980-01-01   6.62
1980-02-01   4.62
1980-03-01   6.04
1980-04-01   5.29
1980-05-01   5.70
...           ...
2021-01-01   0.25
2021-02-01   0.86
2021-03-01   0.93
2021-04-01   0.31
2021-05-01   0.83

[497 rows x 1 columns]

In [77]:
#Para o mentor: Estive tentando seguir a documentação para conseguir puxar uma serie com uma data de inicio e uma de fim. Como deveria estar fazendo?  
def consulta_ipca(cod_ipca):
    url:"http://api.bcb.gov.br/dados/serie/bcdata.sgs.{}/dados/formato=json&dataInicial={2021/01/01}&dataFinal={2021/01/05}".format(cod_ipca)
    df = pd.read_json(url)
    df['data'] = pd.to_datetime(df['data'], dayfirst=True)
    df.set_index('data',inplace=True)
    return df

In [78]:
consulta_ipca(433)

UnboundLocalError: local variable 'url' referenced before assignment

In [57]:
df

           data  valor
0    01/01/1980   6.62
1    01/02/1980   4.62
2    01/03/1980   6.04
3    01/04/1980   5.29
4    01/05/1980   5.70
..          ...    ...
492  01/01/2021   0.25
493  01/02/2021   0.86
494  01/03/2021   0.93
495  01/04/2021   0.31
496  01/05/2021   0.83

[497 rows x 2 columns]